<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">Services</h5>
            <h1 class="display-5 mb-0">Our Excellent CCTV Security Services</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-cctv d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">CCTV</h5>
                        <h3 class="mb-3">Installation</h3>
                        <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                        <!-- <a href="">Read More<i class="bi bi-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: zoomIn;">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-surveillance d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">CCTV</h5>
                        <h3 class="mb-3">Configuration</h3>
                        <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                        <!-- <a href="">Read More<i class="bi bi-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: zoomIn;">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-camera d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">CCTV</h5>
                        <h3 class="mb-3">Maintenance</h3>
                        <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                        <!-- <a href="">Read More<i class="bi bi-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-double d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">CCTV</h5>
                        <h3 class="mb-3">Repair &amp; Service</h3>
                        <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                        <!-- <a href="">Read More<i class="bi bi-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: zoomIn;">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-security-system d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">CCTV</h5>
                        <h3 class="mb-3">Monitoring</h3>
                        <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                        <!-- <a href="">Read More<i class="bi bi-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: zoomIn;">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-recorder d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">CCTV</h5>
                        <h3 class="mb-3">Access Control</h3>
                        <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                        <!-- <a href=""><i class="bi bi-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- testnominal start -->

