

   element.style {
    max-width: 600px;
}
.text-center {
    text-align: center !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 700;
    line-height: 1.2;
}
.rounded {
    border-radius: 2px !important;
}
.bg-light {
    background-color: #ECF4FF !important;
}