


<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
  <a href="index.html" class="navbar-brand ms-lg-5">
      <h1 class="display-5 m-0 text-primary">VS<span class="text-secondary">Cam</span></h1>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngSwitch]="menuType" class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav ms-auto py-0">
      <ul *ngSwitchCase="'default'" class="navbar-nav  ">
        <a href="index.html" class="nav-item nav-link active" routerLink="">Home</a>
          <a href="about.html" class="nav-item nav-link" routerLink="about">About</a>
          <a href="service.html" class="nav-item nav-link" routerLink="service">Service</a>
          
         
          
          <a href="contact.html" class="nav-item nav-link" routerLink="contact">Contact</a>
          <a href="contact.html" class="nav-item nav-link" routerLink="cctvorder">CctvOrder</a>
        <div ngbDropdown class="nav-item">
          <span class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Login</span>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a>
              <button  routerLink="admin-auth"ngbDropdownItem>admin</button>
            </a>
            <a>
              <button  routerLink="user-auth" ngbDropdownItem>user</button>
            </a>
         
          </div>
        </div>
      </ul>
      <ul *ngSwitchCase="'admin'" class="navbar-nav">
       
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/admin-dashboard">Dashboard</a>
       </li>
       <li  class="nav-item">
          <a class="nav-link" (click)="handler()" routerLink="user-auth">
             LOGOUT
           </a>
        
       </li>
      </ul>
      <ul *ngSwitchCase="'user'" class="navbar-nav  ">
       
        <a  class="nav-item nav-link active" routerLink="">Home</a>
          <a  class="nav-item nav-link" routerLink="about">About</a>
          <a  class="nav-item nav-link" routerLink="service">Service</a>
          <a  class="nav-item nav-link" routerLink="cctvorder">CctvOrder</a>
          <a  class="nav-item nav-link" routerLink="req">My Request </a>
        <div ngbDropdown class="nav-item">
          <span  class="nav-link"  id="dropdownBasic1" ngbDropdownToggle>My Account</span>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            
                <a class="nav-item"  routerLink="editprofile" >
                   Edit Profile
                 </a>
            <br>
           
             <a class="nav-item" (click)="handler()" routerLink="user-auth" >
                LogOut
              </a>
           
             
         
          </div>
        </div>
      </ul>
    </div>

  </div>
</nav>
<app-notification></app-notification>
<router-outlet></router-outlet>

