

<table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Installation Time</th>
        <th>Installation Date</th>
        <th>No of Cam</th>
        <th>CCTV System Type</th>
        <th>Installation Location</th>
        <th>Special Requirement</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of filteredUsers">
            <td>{{ item._id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phoneNo }}</td>
            <td>{{ item.insatallationTime }}</td>
            <td>{{ item.installationDate }}</td>
            <td>{{ item.noOfCamera }}</td>
            <td>{{ item.cctvSystemType }}</td>
            <td>{{ item.installationLocation }}</td>
            <td>{{ item.specialRequirement }}</td>
            <td>{{ item.status }}</td>
            
          </tr>
    </tbody>
  </table>

 