body {
    background-color: #faf8f8;
  }
  
  form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #f5f4f4;
    border-radius: 5px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  textarea.form-control {
    resize: vertical;
  }
  